**/__pycache__/**

*.ckpt
*.pth
*.onnx
*.engine
*.profile
*.timing
*.dfm
*.trt
cache_frames/*.webp
models/liveportrait_onnx/*.onnx
models/liveportrait_onnx/*.trt
models_assets/sam2/*.pt
model_assets/grid_sample_3d_plugin.dll
model_assets/libgrid_sample_3d_plugin.so
model_assets/liveportrait_onnx/lip_array.pkl
model_assets/meanshape_68.pkl
model_assets/sam2/sam2.1_hiera_tiny.pt
model_assets/sam2/sam2.1_l.pt
model_assets/sam2/sam2.1_s.pt
model_assets/sam2/sam2.1_t.pt
saved_parameters*.json
startup_parameters*.json
data.json
merged_embeddings*.txt
.vs
*.sln
*.pyproj
*.json
.vscode/
tensorrt-engines/
source_videos/
source_images/
output/
test_frames*/
test_videos*/
install.dat
visomaster.ico
dependencies/CUDA/
dependencies/Python/
dependencies/git-portable/
dependencies/TensorRT/
model_assets/dfm_models/*.dfm
*.mp4
*.jpg
*.exe
.thumbnails